body {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wrap-v1 {
  width: 1100px;
  margin: 0 auto;
}

.wrap-v2 {
  width: 982px;
  margin: 0 auto;
}

.wrap-v3 {
  width: 980px;
  margin: 0 auto;
}

.sprite_01 {
  background: url('../img/sprite_01.png') no-repeat 0 9999px;
}

.sprite_02 {
  background: url('../img/sprite_02.png') no-repeat 0 9999px;
}

.sprite_covor {
  background: url('../img/sprite_cover.png') no-repeat 0 9999px;
}

.sprite_icon {
  background: url('../img/sprite_icon.png') no-repeat 0 9999px;
}

.sprite_icon2 {
  background: url('../img/sprite_icon2.png') no-repeat 0 9999px;
}

.sprite_icon3 {
  background: url('../img/sprite_icon3.png') no-repeat 0 9999px;
}

.sprite_button {
  background: url('../img/sprite_button.png') no-repeat 0 9999px;
}

.sprite_button2 {
  background: url('../img/sprite_button2.png') no-repeat 0 9999px;
}

.sprite_table {
  background: url('../img/sprite_table.png') no-repeat 0 9999px;
}

.sprite_playbar {
  background: url('../img/playbar_sprite.png') no-repeat 0 9999px;
}

.sprite_playlist {
  background: url('../img/playlist_sprite.png') no-repeat 0 9999px;
}

.player-bar {
  background: url('../img/playbar.png') no-repeat 0 9999px;
}

.player-bar-icn {
  background: url('../img/icn') no-repeat 0 0;
}

.image_cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
  background: url('../img/sprite_cover.png') no-repeat -145px -57px;
}

.ant-message {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: auto !important;
  bottom: 60px;
  .ant-message-notice-content {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
  }
}
.ant-float-btn {
  inset-inline-end: 250px !important;
  inset-block-end: 150px !important;
  left: 50%;
  margin-left: 500px;
  bottom: 160px;
}
span:hover.link {
  text-decoration: underline;
  cursor: pointer;
}

.hover-decoration:hover {
  text-decoration: underline;
  cursor: pointer;
}
